@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="padding:20px;">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Sorry, an error occurred while processing your request. Please contact support.</h2>
    <h4>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h4>
    <br />
    <br />
</div>
