
@{
    ViewBag.Title = "NotFound";
}

<div>
    <div style="padding:20px;">
        <h4>
            <img class="center-block img-responsive" src=@Url.Content("~/Content/Images/404-Error.jpg") alt="body" />
        </h4>
        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>