
@{
    ViewBag.Title = "ServerError";
}

<div>
    <div style="padding:20px;">
        <h4>
            <img class="center-block img-responsive" src=@Url.Content("~/Content/Images/500-Error.png") alt="body" />
        </h4>
        <h4>We are working to fix the issue, please try again in a few minutes</h4>
        <br />
        <br />
    </div>
</div>
